/* Reset some default margin and padding */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.header {
    background-color: #333;
    color:white;
    padding: 20px;
    text-align: center;
}

.user {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form select {
    margin-bottom: 10px;
    padding: 8px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.store {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cookie {
    max-width: 300px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cookie img {
    width: 100%;
    border-radius: 8px;
}

.cookie h2,
.cookie p {
    margin: 10px 0;
}

.cookie .remove-button {
    padding: 8px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
